# -----------------------------
# Core ML and Data Libraries
# -----------------------------
pandas
numpy
scikit-learn
matplotlib
seaborn
xgboost
joblib

# -----------------------------
# API and Web Framework
# -----------------------------
fastapi
uvicorn
uv


#  kaggle dataset https://www.kaggle.com/datasets/saranyaponnarasu/bank-marketing-term-deposits-classification/code
